@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothic-B-0.ttf") format("truetype");
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothic-R-0.ttf") format("truetype");
}

@font-face {
  font-family: "HannTzongWangHeiti";
  src: url("/fonts/HannTzongWangHeiti.ttf") format("truetype");
}

header h1 a {
  font-size: x-large;
  color: #fbe700;
  text-shadow: 0.1em 0.1em #fd642d, 0.2em 0.2em #13a86a, 0.3em 0.3em #232323;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

nav .navbar {
  display: block;

  margin: auto 0;
  padding: 0 30px;

  height: 30px;
  border-radius: 15px;

  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav .navbar ul {  display: flex;
  flex-direction: row;
  gap: 30px;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav .navbar ul li {
  font-size: large;
  text-align: center;
}

body {
  font-family: "GenSekiGothic", sans-serif;
  color: #959595;
  line-height: 1.5;
  margin: 1rem;
  /* background-color: #f7f7f7; */

  background-color: #272727;
  background-image:
    linear-gradient(67.5deg, #272727 10%, transparent 10%),
    linear-gradient(157.5deg, #272727 10%, transparent 10%),
    linear-gradient(67.5deg, transparent 90%, #272727 90%),
    linear-gradient(157.5deg, transparent 90%, #272727 90%),

    linear-gradient(22.5deg, #272727 10%, transparent 10%),
    linear-gradient(112.5deg, #272727 10%, transparent 10%),
    linear-gradient(22.5deg, transparent 90%, #272727 90%),
    linear-gradient(112.5deg, transparent 90%, #272727 90%),

    linear-gradient(22.5deg, transparent 33%, #747474 33%, #747474 36%, transparent 36%, transparent 64%, #747474 64%, #747474 67%, transparent 67%),
    linear-gradient(-22.5deg, transparent 33%, #747474 33%, #747474 36%, transparent 36%, transparent 64%, #747474 64%, #747474 67%, transparent 67%),
    linear-gradient(112.5deg, transparent 33%, #747474 33%, #747474 36%, transparent 36%, transparent 64%, #747474 64%, #747474 67%, transparent 67%),
    linear-gradient(-112.5deg, transparent 33%, #747474 33%, #747474 36%, transparent 36%, transparent 64%, #747474 64%, #747474 67%, transparent 67%);

  background-size: 250px 250px;
  background-position:
    -100px 150px, -150px 150px, -150px 100px, -100px 100px,
    -150px 100px, -100px 100px, -100px 150px, -150px 150px,
    0 0, 0 0, 0 0, 0 0;

}

.title {
  color: #0ef69f;
}

.title h1 {
  font-family: "HannTzongWangHeiti", sans-serif;
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: medium;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  background-color: #272727f0;
  border-radius: 10px;
  padding: 50px;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

footer {
  color: #aaa;
  margin-top: 1rem;
  text-align: center;
}

a {
  color: #247e5f;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.tag-container {
  margin-top: 50px;
}

.tag-container ul {
  margin: 5px 0;

  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.tag-container ul li {
  padding: 0 5px;
  background-color: #fd642d;
}

.tag-container ul li a {
  color: #ffffff;
}

blockquote {
  background-color: #fff;
  color: #3d4573;
  padding: 2px 20px;
  border-radius: 5px;
}

pre {
  padding: 10px;
  border-radius: 2px;
  overflow: scroll;
}

p code {
  background-color: #888;
  color: #fff;
  padding: 0 5px;
}