@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothic-B-0.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "GenSekiGothic";
  src: url("/fonts/GenSekiGothic/GenSekiGothic-R-0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

header h1 {
  color: #020887;
  text-align: center;
}

body {
  font-family: "GenSekiGothic", sans-serif;
  color: #222;
  line-height: 1.5;
  margin: 1rem;
  background-color: #fcfcfc;
}

.title {
  color: #fff;
  background: #020887;
  padding: 10px 20px;
}

.title h1 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  color: #3d4573;
  border-top: 1px solid #647AA3;
  margin-top: 1rem;
  text-align: center;
}

a {
  color: #334195;
  text-decoration: none;
}

nav {
  background: #C6EBBE;
  padding: 5px 0;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: space-around;

  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  color: #000;
}

img {
  max-width: 100%;
}

code {
  overflow-x: auto;
}

.tag-container {
  margin-top: 50px;
}

.tag-container ul {
  margin: 5px 0;

  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.tag-container ul li {
  padding: 0 5px;
  background-color: #e789a1;
}

.tag-container ul li a {
  color: #ffffff;
}

blockquote {
  background-color: #fff;
  color: #3d4573;
  padding: 2px 20px;
  border-radius: 5px;
}

pre {
  padding: 10px;
  border-radius: 2px;
}